<p id="notice"><%= notice %></p>

<p>
  <b>Csesubject:</b>
  <%= @bcse6.csesubject_id %>
</p>

<p>
  <b>Cseteacher:</b>
  <%= @bcse6.cseteacher_id %>
</p>


<%= link_to 'Edit', edit_bcse6_path(@bcse6) %> |
<%= link_to 'Back', bcse6s_path %>
